<div class="grid grid-cols-12 gap-6 mb-6">
  <div class="col-span-12 sm:col-span-6 xl:col-span-3">
    <div
      class="md:rounded dark:bg-gray-900/70 block bg-white border border-gray-100 dark:border-gray-900 mx-6 md:mx-0 rounded"
    >
      <div class="p-6 text-center">
        <div>登記人數</div>
        <div class="text-3xl leading-tight font-semibold">{{ 3540 | number }}</div>
      </div>
    </div>
  </div>
  <div class="col-span-12 sm:col-span-6 xl:col-span-3">
    <div
      class="md:rounded dark:bg-gray-900/70 block bg-white border border-gray-100 dark:border-gray-900 mx-6 md:mx-0 rounded"
    >
      <div class="p-6 text-center">
        <div>報到人數</div>
        <div class="text-3xl leading-tight font-semibold">{{ 2130 | number }}</div>
      </div>
    </div>
  </div>
  <div class="col-span-12 sm:col-span-6 xl:col-span-3">
    <div
      class="md:rounded dark:bg-gray-900/70 block bg-white border border-gray-100 dark:border-gray-900 mx-6 md:mx-0 rounded"
    >
      <div class="p-6 text-center">
        <div>在線人數</div>
        <div class="text-3xl leading-tight font-semibold">{{ 950 | number }}</div>
      </div>
    </div>
  </div>
  <div class="col-span-12 sm:col-span-6 xl:col-span-3">
    <div
      class="md:rounded dark:bg-gray-900/70 block bg-white border border-gray-100 dark:border-gray-900 mx-6 md:mx-0 rounded"
    >
      <div class="p-6 text-center">
        <div>提問總數</div>
        <div class="text-3xl leading-tight font-semibold">{{ 193 | number }}</div>
      </div>
    </div>
  </div>
</div>

<div class="grid grid-cols-1 xl:grid-cols-2 gap-6 mb-6">
  <div class="bg-white border border-gray-100 dark:bg-gray-900/70 dark:border-gray-900 md:rounded">
    <div class="font-bold text-[2rem] py-3 px-2">直播連結</div>
    <div class="aspect-w-16 aspect-h-9">
      <iframe
        src="https://www.youtube.com/embed/r9jwGansp1E"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="bg-white border border-gray-100 dark:bg-gray-900/70 dark:border-gray-900 md:rounded">
    <tem-question-analysis-chart class="block h-full"></tem-question-analysis-chart>
  </div>
</div>

<div class="grid grid-cols-1 xl:grid-cols-2 gap-6 mb-6">
  <div class="bg-white border border-gray-100 dark:bg-gray-900/70 dark:border-gray-900 md:rounded">
    <tem-event-chart class="block h-full"></tem-event-chart>
  </div>
  <div class="bg-white border border-gray-100 dark:bg-gray-900/70 dark:border-gray-900 md:rounded">
    <tem-page-view-analysis-chart class="block h-full"></tem-page-view-analysis-chart>
  </div>
</div>
